@model IEnumerable<PekerjaLisensi.Models.ReportDetailsModel>

@{
    ViewData["Title"] = "Index";
}

<h5>Report Details Data Pekerja</h5>
<p>
    Berikut status pekerja dilengkapi lisensi yang dipakai di PT Kilang Pertamina Internasional
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nopek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
