@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index";
}

<h5>Report Details Data Pekerja</h5>
<p>
    Berikut status pekerja dilengkapi lisensi yang dipakai di PT Kilang Pertamina Internasional
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nopek</th>
            <th>Nama</th>
            <th>Posisi</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nopek</td>
                <td>@item.Nama</td>
                <td>@item.Posisi</td>
                <td>@item.JenisKaryawan</td> 
            </tr>
        }
    </tbody>
</table>
