@model IEnumerable<PekerjaLisensi.Models.Lisensi>

@{
    ViewData["Title"] = "Index";
}

<h5>Maintenance Data Lisensi</h5>
<p>
    Berikut daftar Lisensi yang ada untuk pekerja di PT Kilang Pertamina Internasional
</p>

<div class="Container d-flex justify-content-between">
    <p>
        <a asp-action="Create" class="btn btn-success">Add Lisensi</a>
    </p>

</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Nama Lisensi
                </th>
                <th>
                    Jenis Lisensi
                </th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            // foreach sebai looping untuk variabel item dalam model yang membawa data controller ke views
            {
                <tr>
                    <td>
                        @item.NamaLisensi
                       
                    </td>
                    <td>
                        @item.JenisLisensi
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn text-warning" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn text-danger" data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        // Activate tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
