@* @model IEnumerable<PekerjaLisensi.Models.Summary>

@{
    ViewData["Title"] = "Index";
}

<h5>Summary Data Pekerja</h5>
<p>
    Berikut daftar lisensi terpakai di PT Kilang Pertamina Internasional
</p>


<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lisensi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumlahLisensi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LisensiTerpakai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LisensiTerpakaiNonKPI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
 *@