@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index";
}

<h5>Summary Data Pekerja</h5>
<p>
    Berikut daftar lisensi terpakai di PT Kilang Pertamina Internasional
</p>


<table class="table">
    
    <thead>
        <tr>
            <th>Lisensi</th>
            <th>Lisensi Terpakai </th>
            <th>Lisensi Terpakai (Non KPI)</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model)
         {
             <tr>
                <td>@item.NamaLisensi @item.JenisLisensi</td>
                <td>@item.JumlahLisensiTerpakai</td>
                <td>@item.JumlahLisensiTerpakaiNonKpi</td>
             </tr>
         }
    </tbody>
</table>
