@model IEnumerable<PekerjaLisensi.Models.SummaryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lisensi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumlahLisensi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LisensiTerpakai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LisensiTerpakaiNonKPI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
